h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    font-size: 14;
}

img {
    width: 100%;
}

a:not(.nothx) {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    cursor: default;
}

a:nth-of-type(2n) {
    margin-right: 0;
}

